[submodule "lib/zig-libcurl"]
	path = lib/zig-libcurl
	url = https://github.com/mattnite/zig-libcurl
[submodule "lib/zig-libssh2"]
	path = lib/zig-libssh2
	url = https://github.com/mattnite/zig-libssh2
[submodule "lib/zig-zlib"]
	path = lib/zig-zlib
	url = https://github.com/mattnite/zig-zlib
[submodule "lib/zig-mbedtls"]
	path = lib/zig-mbedtls
	url = https://github.com/mattnite/zig-mbedtls
